.card-container h1{
    display: flex;
    margin-left: 90%;
    margin-right: 20%;
}
.card-container label{
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 70%;
    margin-right: 20%;
   
}

.card-container input{
    display: flex;
    justify-items: center;
    align-items: center;
    margin-left: 70%;
    margin-right: 20%;
    margin-bottom: 2px;
}

.card-container button{
    display: flex;
    justify-items: center;
    align-items: center;
    margin-left: 70%;
    margin-right: 20%;
    width: 200px
}

.card-container p{
    display: flex;
    justify-items: center;
    align-items: center;
    margin-left: 70%;
    margin-right: 20%;
    width: 200px
}


.card-container{
    margin-top: 20px;
    margin-left: 40%;
    margin-right: 40%;
    display: flex;
    justify-items: center;
    border: 2px solid;
    width: 500px;
    background-color: antiquewhite;
}
