body {
            
    text-align: center;
    font-family: Arial, sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://media.istockphoto.com/id/1428594094/pt/foto/empty-coffee-shop-interior-with-wooden-tables-coffee-maker-pastries-and-pendant-lights.jpg?s=2048x2048&w=is&k=20&c=fX_lOIRF908B6aAo2mKipZIcIEvzRbsmuvmq9ejwzco=");
}