body {
    text-align: center;
  }
  
  ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px; /* Espaçamento entre as imagens */
  }
  
  li {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .button {
    margin-top: 10px;
  }
  
  /* Estilos para as imagens */
  img {
    max-width: 100%;
    height: auto;
  }
  