<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de Cadastro</title>
    <link rel="stylesheet" href="../public/styleform.css">
    <link rel="stylesheet" type="text/css" href="../public/styles.css">
    <style>
         body {
            
            text-align: center;
            font-family: Arial, sans-serif;
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://media.istockphoto.com/id/1428594094/pt/foto/empty-coffee-shop-interior-with-wooden-tables-coffee-maker-pastries-and-pendant-lights.jpg?s=2048x2048&w=is&k=20&c=fX_lOIRF908B6aAo2mKipZIcIEvzRbsmuvmq9ejwzco=");
        }
        h1 {
            color: rgb(218, 174, 144);
            font-size: 50px;
        }
        p {
            color: rgb(248, 199, 167);
            font-size: 20px;
        }
        .card-container{
            margin-top: 18%;
        }
        .button-login{
          font-size: 20px;
          margin-right: 0px;
          margin-left:80%;
          color: white;
        }
        a{
            color: white;
            font-size: 20px;
            text-decoration: underline; 
        }
    </style>
</head>
<body>
    <div class="button-login">
        <a href="/">Início</a>
    </div>
   <div class="card-container">
     <h1>Cadastro</h1><br>
      <form action="/cadastrarUsuario" method="post">
          <br><input type="text" name="UsEmail" placeholder="Email" required><br>
          <br><input type="text" name="UsNome" placeholder="Nome" required><br>
          <br><input type="password" name="UsSenha" placeholder="Senha" required><br>
          <br><button type="submit">Cadastrar</button><br>
      </form>
      <br>
      <p>Ja possui cadastro? <a href="/login">Login</a></p>
   </div>
    
</body>
</html>
