<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cafeteria AmarElo</title>
    <style>
        body {
            
            text-align: center;
            font-family: Arial, sans-serif;
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://media.istockphoto.com/id/1428594094/pt/foto/empty-coffee-shop-interior-with-wooden-tables-coffee-maker-pastries-and-pendant-lights.jpg?s=2048x2048&w=is&k=20&c=fX_lOIRF908B6aAo2mKipZIcIEvzRbsmuvmq9ejwzco=");
        }
        h1 {
            color: rgb(218, 174, 144);
            font-size: 50px;
        }
        h3{
            color: white;
            font-size: 30px;
        }
        a{
            color: white;
            font-size: 20px;
        }
        p {
            font-size: 30px;
            color: white;
        }
        .btn {
            background-color: #ff7f50;
            color: white;
            padding: 10px 20px;
            border: none;
            cursor: pointer;
        }
        .card-container{
            margin-top: 18%;
        }
        .button-login{
          margin-right: 0px;
          margin-left:80%;
          border: none;
        }
        .loading {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.7);
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 9999;
            display: none;
        }

    </style>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
          const loading = document.getElementById('loading');
        
          
          window.addEventListener('beforeunload', function() {
            loading.style.display = 'block';
          });
        
          
          window.addEventListener('load', function() {
            loading.style.display = 'none';
          });
        });
        </script>
        
</head>
<body>
    <div class="button-login">
        <a href="/login">Entrar</a>
    </div>
    
    <div class="card-container">
        <h3>Adoce a sua jornada, cada xícara é uma dose de sabor e aconchego!</h3>

        <h1>Cafeteria AmarElo</h1>

        <p>Explore nosso site e descubra um mundo de delícias e conforto.</p>
        
        <div class="button">
            <a href="/reservastipos">Saiba Mais</a>
        </div>
    </div>
    
    <div id="loading" class="loading">
        <p>Carregando...</p>
    </div>
</body>
</html>
