<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservas Disponíveis</title>
    <style>
        body {
            
            text-align: center;
            font-family: Arial, sans-serif;
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://media.istockphoto.com/id/1428594094/pt/foto/empty-coffee-shop-interior-with-wooden-tables-coffee-maker-pastries-and-pendant-lights.jpg?s=2048x2048&w=is&k=20&c=fX_lOIRF908B6aAo2mKipZIcIEvzRbsmuvmq9ejwzco=");
        }
        h1 {
            color: #f0be8f;
            font-size: 50px;
        }
        h2{
            color: rgb(248, 203, 151);
            font-size: 20px;
        }
        p {
            color: rgb(248, 199, 167);
            font-size: 20px;
            text-align: center;
        }
        .card-container{
            margin-top: 5%;
            margin-bottom: 5%;
        }
        .button-login{
          font-size: 20px;
          margin-right: 0px;
          margin-left:80%;
          color: white;
        }
        a{
            color: white;
            font-size: 20px;
            text-decoration: underline; 
        }
        hr{
            color: white;
        }
        h5{
            color:white;
        }
        .imagem-estilizada {
           
            border: 2px solid #333;
            display: flex;        
	        justify-content: space-between; 
	        width: auto;
            height: 5%;
	        margin-top: 10%;
	        margin-bottom:10%;
            margin-right: 10%;
            margin-left: 80%;
        }
        .imagem-estilizada img{
            height: 100px;
            width: 100px;
        }
    </style>
</head>
<body>
    
    

    <div class="button-login">
        <a href="/">Início</a>
    </div>
    <h1>Reservas Disponível</h1>

    <div class="card-container">
        <% tiposReservas.forEach(function(tipoReserva) { %>
            <div class=".imagem-estilizada">
                <% tipoReserva.ImgBase.forEach(function(imgURL) { %>
                    <p><img src="<%= imgURL %>" alt="<%= tipoReserva.NameType %> Image"></p>
                <% }); %>

                <div class="card-text">
                    <h2><%= tipoReserva.NameType %></h2>
                    <br>
                    <p>Descrição: <%= tipoReserva.TypeDescription %></p>
                    <h5>Quatidade Lugares: <%= tipoReserva.QtdLug %> - Valor : R$ <%= tipoReserva.PriceType %></h5>
                    
                    <div class="button">
                        <a href="/carrinho/<%= tipoReserva._id %>">Selecionar Reserva</a>
                    </div>
                    <hr>
                </div>
            </div>

        <% }); %> 
    </div>
   
</body>
</html>
