<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seleção de Reserva</title>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
   
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function() {
            $("#dataReserva").datepicker();
        });
    </script>
        <style>
            body {
                
                text-align: center;
                font-family: Arial, sans-serif;
                background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://media.istockphoto.com/id/1428594094/pt/foto/empty-coffee-shop-interior-with-wooden-tables-coffee-maker-pastries-and-pendant-lights.jpg?s=2048x2048&w=is&k=20&c=fX_lOIRF908B6aAo2mKipZIcIEvzRbsmuvmq9ejwzco=");
            }
            h1 {
                color: rgb(218, 174, 144);
                font-size: 50px;
            }
            h3{
                color: white;
                font-size: 30px;
            }
            h2{
                color: rgb(248, 203, 151);
                font-size: 30px;
            }
            a{
                color: white;
                font-size: 20px;
            }
            p {
                font-size: 30px;
                color: white;
            }
            .btn {
                background-color: #ff7f50;
                color: white;
                padding: 10px 20px;
                border: none;
                cursor: pointer;
            }
            .card-container{
                margin-top: 18%;
            }
            .button-login{
              margin-right: 0px;
              margin-left:80%;
              border: none;
            }
        </style>
</head>
<body>
        <h1>Reserva Realizada !!</h1>
        <br>
        <h2><%= reservaCadastrada.NameType %></h2>
        <br>
        <p><%= reservaCadastrada.TypeDescription %></p>
        <br>
        <p>Obrigada por reservar com a gente!</p>
        <br>
       
        <a href="/">Início</a> -  <a href="/minhasReservas">Minhas Reservas</a>

        
    
</body>
</html>
