<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seleção de Reserva</title>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function() {
            $("#dataReserva").datepicker();
        });
    </script>
    <style>
        body {
            
            text-align: center;
            font-family: Arial, sans-serif;
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://media.istockphoto.com/id/1428594094/pt/foto/empty-coffee-shop-interior-with-wooden-tables-coffee-maker-pastries-and-pendant-lights.jpg?s=2048x2048&w=is&k=20&c=fX_lOIRF908B6aAo2mKipZIcIEvzRbsmuvmq9ejwzco=");
        }
        h1 {
            color: #f0be8f;
            font-size: 50px;
        }
        h2{
            color: rgb(248, 203, 151);
            font-size: 20px;
        }
        p {
            color: rgb(248, 199, 167);
            font-size: 20px;
            text-align: center;
        }
        .card-container{
            margin-top: 5%;
            margin-bottom: 5%;
        }
        .button-login{
          font-size: 20px;
          margin-right: 0px;
          margin-left:80%;
          color: white;
        }
        .button-compra{
            margin-top: 5px;
        }
        .button-compra button{
            width: 80px;
            height: 50px;
        }
        label{
            color: white;
            font-size: 20px;
             
        }
        a{
            color: white;
            font-size: 20px;
            text-decoration: underline; 
        }
        hr{
            color: white;
        }
        h5{
            color:white;
        }
        .imagem-estilizada {
           
            border: 2px solid #333;
            display: flex;        
	        justify-content: space-between; 
	        width: auto;
            height: 5%;
	        margin-top: 10%;
	        margin-bottom:10%;
            margin-right: 10%;
            margin-left: 80%;
        }
        .imagem-estilizada img{
            height: 100px;
            width: 100px;
        }
    </style>
</head>
<body>
    <div class="button-login">
        <a href="/">Início</a>
    </div>
    <div class="card-container">
        <h1>Detalhes da Reserva</h1>
        <div class="card-text">
            <form action="/salvarReserva" method="post">
                <h2><%= reservaSelecionada.NameType %></h2>
                <p><%= reservaSelecionada.TypeDescription %></p>

                <div class="card-img">
                    <% reservaSelecionada.ImgBase.forEach(function(imgURL) { %>
                        <p><img src="<%= imgURL %>" alt="<%= reservaSelecionada.NameType %> Image"></p>
                    <% }); %>
                </div>
                
                <!--Campos ocultados-->
                <input type="hidden" name="idReserva" value="<%= reservaSelecionada._id %>">

                <input type="hidden" name="nameType" value="<%= reservaSelecionada.NameType %>">
                <input type="hidden" name="typeDescription" value="<%= reservaSelecionada.TypeDescription %>">
                

                <!-- Data de reserva -->
                <label for="dataReserva">Selecione a data da reserva:</label>
                <input type="text" id="dataReserva" name="dataReserva" required autocomplete="off">

                <div class="button-compra">
                    <button type="submit">Finalizar Reserva</button>
                </div>
            </form>
        </div>
    </div>
    
</body>
</html>
