<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservas Disponíveis</title>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function() {
            $("#dataReserva").datepicker();
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
          const dataReservaElements = document.querySelectorAll('.data-reserva');
          
          dataReservaElements.forEach(function(element) {
            const dataOriginal = new Date(element.textContent);
            const dia = dataOriginal.getDate();
            const mes = dataOriginal.getMonth() + 1;
            const ano = dataOriginal.getFullYear();
            const dataFormatada = `${dia}/${mes}/${ano}`;
            
            element.textContent = dataFormatada;
          });
        });
        </script>
    <style>
        body {
            
            text-align: center;
            font-family: Arial, sans-serif;
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://media.istockphoto.com/id/1428594094/pt/foto/empty-coffee-shop-interior-with-wooden-tables-coffee-maker-pastries-and-pendant-lights.jpg?s=2048x2048&w=is&k=20&c=fX_lOIRF908B6aAo2mKipZIcIEvzRbsmuvmq9ejwzco=");
        }
        h1 {
            color: #f0be8f;
            font-size: 50px;
        }
        h2{
            color: rgb(248, 203, 151);
            font-size: 20px;
        }
        p {
            color: rgb(248, 199, 167);
            font-size: 20px;
            text-align: center;
        }
        .card-container{
            margin-top: 5%;
            margin-bottom: 5%;
        }
        .button-login{
          font-size: 20px;
          margin-right: 0px;
          margin-left:80%;
          color: white;
        }
        a{
            color: white;
            font-size: 20px;
            text-decoration: underline; 
        }
        hr{
            color: white;
        }
        h5{
            color:white;
        }
        label{
            color: white;
            font-size: 15px;
        }
        .imagem-estilizada {
           
            border: 2px solid #333;
            display: flex;        
	        justify-content: space-between; 
	        width: auto;
            height: 5%;
	        margin-top: 10%;
	        margin-bottom:10%;
            margin-right: 10%;
            margin-left: 80%;
        }
        .imagem-estilizada img{
            height: 100px;
            width: 100px;
        }
    </style>
</head>
<body>
    <div class="button-login">
        <a href="/">Início</a>
    </div>
    <h1>Minhas Reservas</h1>

    <div class="card-container">
        <% reservas.forEach(function(reserva) { %>
            <div class=".imagem-estilizada">
              
                <div class="card-text">
                    <h2><%= reserva.NameType %></h2>
                    <h2 class="data-reserva"><%= reserva.dataReserva %></h2>
                    <br>
                    <div class="button">
                        <form action="/atualizarReserva" method="post">  
							<!--Campos ocultados-->
                            <input type="hidden" name="idReserva" value="<%= reserva._id %>">
                            <input type="hidden" name="NameType" value="<%= reserva.NameType %>">
                           
                            
                            
                            <label for="dataReserva">Data da reserva:</label>
                            <input type="text" id="dataReserva" name="dataReserva" required autocomplete="off">
                            <br><button type="submit">Alterar Reserva</button><br>
                        </form>
                    </div>
					<div class="button">
                        <form action="/cancelarReserva/<%= reserva._id %>" method="put">
                            <br><button type="submit">Cancelar Reserva</button><br>
                        </form>
                    </div>
                    <hr>
                </div>
            </div>

        <% }); %> 
    </div>
   
</body>
</html>
